@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Black.woff2') format('woff2'),
            url('../../assets/fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .back-pay {@apply bg-payday bg-contain bg-no-repeat bg-[-85px] lg:bg-left-bottom 2xl:bg-[-80px];};
    .back-hero {@apply bg-hero bg-contain bg-no-repeat bg-[400px] xl:bg-right-bottom bg-origin-content;};

    .navbar__button{
        @apply h-[45px] w-[45px] bg-main rounded-[5px] text-black;
    }
    .navbar__button svg {
        @apply pointer-events-none h-[45px] w-[45px] absolute;
    }
    .line {
        fill: none;
        stroke: currentColor;
        stroke-width: 10px;
        stroke-linecap: square;
        stroke-linejoin: round;
        transform-origin: 50%;
        transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
    }
    .close {
        transform: scale(0);
        transition: transform 300ms;
    }
    .active{
        .line {transition: transform 400ms;}
        .line--one {transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(.7);}
        .line--two {transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(.7);}
        .line--three {transform: translateY(0px) rotate(45deg) scale(.7);}
        .line--four {transform: translateY(0px) rotate(-45deg) scale(.7);}
        .line--five {transform: translateX(18px) translateY(3px) rotate(45deg) scale(.7);}
        .line--six {transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(.7);}
        .close {
            transition: transform 430ms 100ms;
            transform: scale(1);
        }
    }
    
    .menu{
        @apply absolute w-full lg:w-auto left-0 top-0 lg:relative flex flex-col items-center ;
        @apply h-0 lg:h-auto justify-center lg:flex-row -z-10 lg:z-0 overflow-hidden bg-white transition-[height] duration-200 ease-in delay-[50ms];
    }
    .show.menu{
        @apply h-[100vh] transition-[height] duration-200 delay-0 ease-in;
    }
    @keyframes slideLarge {
        from {transform: translateX(0);}
        to {transform: translateX(calc(-50% - 50px));}
    }
    @keyframes slideMedium {
        from {transform: translateX(0);}
        to {transform: translateX(calc(-50% - 25px));}
    }
    @keyframes slideSmall {
        from {transform: translateX(0);}
        to {transform: translateX(calc(-50% - 2.5px));}
    }
}
