@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Black.woff2') format('woff2'),
            url('../../assets/fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .back-pay {@apply bg-payday bg-contain bg-no-repeat bg-left-bottom 2xl:bg-[-80px];};
    .back-hero {@apply bg-hero bg-contain bg-no-repeat bg-right-bottom bg-origin-content;};
    .anim-delay-2s {animation-delay: 2000ms;}
    .anim-delay-4s {animation-delay: 4000ms;}
    .anim-delay-6s {animation-delay: 6000ms;}
}
